@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-bg-root: #ffffff;
  --text-default-color: #0F0F0F;
  --color-yt-red: #FF0000;
  --color-primary: #0F0F0F;
  --color-secondary: #606060;
  --color-tertiary: #f2f2f2;
  --color-bg-modal: rgba(242, 242, 242, 0.8);
  
  --color-dark-bg: #0F0F0F;
  --color-dark-text: #FFFFFF;
  --color-dark-primary: #FFFFFF;
  --color-dark-secondary: #AAAAAA;
  --color-dark-tertiary: #272727;
  
  --font-family-sans: "Roboto", sans-serif;
  --spacing-header: 4rem;
  
}

:root {
  background-color: var(--color-bg-root);
  color: var(--text-default-color);
  font-family: var(--font-family-sans);
  
  --color-bg-primary: var(--color-primary);
  --color-bg-secondary: var(--color-tertiary);
  --color-text-primary: var(--text-default-color);
  --color-text-secondary: var(--color-secondary);
}

.dark {
  --color-bg-root: var(--color-dark-bg);
  --text-default-color: var(--color-dark-text);
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-dark-secondary);
  --color-tertiary: var(--color-dark-tertiary);
  
  --color-bg-primary: var(--color-dark-bg);
  --color-bg-secondary: var(--color-dark-tertiary);
  --color-text-primary: var(--color-dark-text);
  --color-text-secondary: var(--color-dark-secondary);
}

@layer utilities {
  .text-secondary {
    color: var(--color-secondary);
  }
  
  .bg-primary {
    background-color: var(--color-bg-primary);
  }
  
  .bg-secondary {
    background-color: var(--color-bg-secondary);
  }
  
  .text-primary {
    color: var(--color-text-primary);
  }
  
  .border-primary {
    border-color: var(--color-secondary);
  }
  
  .dark .border-primary {
    border-color: var(--color-dark-secondary);
  }
}

